# Ignore raw ticket data
raw_data/

# Ignore output files
output/

# Ignore real business rules
config/*.xlsx
!config/business_rules_template.xlsx

# Ignore Mac system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Ignore development folders
venv/
archive/
sandbox/
